<%= render 'shared/errors', obj: @merchant %>

<%= form_for @merchant do |f| %>
    
        <div class="container-fluid col-md-offset-2 col-sm-7">

            <h2>Register</h2>


            <div class="well">
              <div class="row spacer">
                <div class="form-group">                        
                    <label for="Name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-6">
                      <%= f.text_field :name, class: 'form-control' %>
                    </div>
                </div>
              </div>
              
              <div class="row spacer">
                <div class="form-group">                        
                    <label for="Email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-6">
                      <%= f.email_field :email, class: 'form-control' %>
                    </div>
                </div>
              </div>
              
              <div class="row spacer">
                <div class="form-group">                        
                    <label for="Password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-6">
                      <%= f.password_field :password, class: 'form-control' %>
                    </div>
                </div>
              </div>
              
              <div class="row spacer">                        
                <div class="form-group">
                    <label for="Merchant Id" class="col-sm-2 control-label">Merchant Id</label>
                    <div class="col-sm-6">                            
                      <%= f.text_field :merchant_id, class: 'form-control' %>
                    </div>
                </div>
              </div>  
              
              <div class="row spacer">                        
                <div class="form-group">
                    <label for="Token" class="col-sm-2 control-label">Token</label>
                    <div class="col-sm-6">                            
                      <%= f.text_field :token, class: 'form-control' %>
                    </div>
                </div>
              </div>  
              
              <div class="row spacer">                        
                <div class="form-group">
                    <label for="Marketplace" class="col-sm-2 control-label">Marketplace</label>
                    <div class="col-sm-6">                            
                      <%= f.text_field :marketplace, class: 'form-control' %>
                    </div>
                </div>
              </div>  
              
        <div class="row spacer col-sm-offset-5">
        <%= f.submit(@merchant.new_record? ? "Sign Up" : "Edit Profile" , :class=> "btn btn-primary") %>
        <button type="button" class="btn btn-default">Close</button>
        </div>
        
    </div>
  </div>
<% end %>