<%= render 'shared/errors', obj: @merchant %>

<script>
$(function () { 
    $("[rel=popover]").popover();   
});
</script>

<%= form_for @merchant do |f| %>

<div class="container-fluid"> <!-- this should go around the entire deal, including the second col -->
  <div class="row"> <!-- pretty sure this has to go around everything too -->
    
    <div class="col-md-6 well col-md-offset-1"> <!-- This well is just for the first column -->
      <h2 class="letter-space">Register</h2>
    
        <div class="col-md-12">  <!-- This is inside the first well, and says take up all the 8 rows we have-->
          <form class="form-horizontal"> <!-- needs to wrap around all the form-groups -->
            
            <div class="form-group"> <!-- name field -->
              <div class="input-group input-group-lg">
                  <div class="input-group-addon border">    
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  </div>
                  <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Name" %>
                  <span class="input-group-addon no_color">
                    <i tabindex="0" class="glyphicon glyphicon-question-sign help" role="button"
                    data-toggle="popover" rel="popover" data-placement="left" data-trigger="hover" title="Name" data-content="The name your mama gave you. Don't worry this is going to be easy."></i>
                  </span>
              </div>
            </div> <!-- This should be good -->
 
            <div class="form-group"> 
              <div class="input-group input-group-lg">
                  <div class="input-group-addon border">    
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                  </div>
                      <%= f.text_field :email, :class => "form-control input-lg", :placeholder => "Email" %>
              </div>
            </div> <!-- This should be good -->
              
            <div class="form-group"> 
              <div class="input-group input-group-lg">
                  <div class="input-group-addon border">    
                  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                  </div>
                      <%= f.password_field :password, :class => "form-control input-lg", :placeholder => "Password" %>
              </div>
            </div> <!-- This should be good -->
              
          <div class="form-group">
            <div class="input-group input-group-lg">
                <div class="input-group-addon border">    
                <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                </div>
                    <%= f.text_field :merchant_id, :class => "form-control input-lg", :placeholder => "Seller Id" %>
            </div>
          </div> <!-- This should be good -->
          
          <div class="form-group">
            <div class="input-group input-group-lg">
                <div class="input-group-addon border">    
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                </div>
                    <%= f.text_field :marketplace, :class => "form-control input-lg", :placeholder => "Marketplace Id" %>
            </div>
          </div> <!-- This should be good -->

          <div class="form-group">
            <div class="input-group input-group-lg">
                <div class="input-group-addon border">    
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </div>
                    <%= f.text_field :token, :class => "form-control input-lg", :placeholder => "MWS Auth. Token" %>
            </div>
          </div> <!-- This should be good -->
          
          <!-- Not sure about this button.. we'll see -->
          <%= f.submit "Sign Up", :class=> "btn btn-primary btn-lg btn-block" %>

          <!-- Not sure about this text either.. we'll see -->
        <div class="spacer pull-right">
          <p>Already have a ByteStand account? <a href="/sign_in"> Login</a></p> 
        </div>
        
        <% end %>
        
            </form> <!-- this is the end of the horizontal form tag, around all the forms in this well -->
        </div> <!-- this is for the 12 columns INSIDE the well -->
      </div> <!-- this is the well itself -->


      <div class="col-md-3 col-md-offset-1 well">
        <h3 class="letter-space">Steps to get your registration info</h3>
        <hr>
          <div class="col-md-12">
            <form class="form-horizontal">
              <div class="form-group">
                <h4>Step 1. Sign up for <a href="https://developer.amazonservices.com/" target="_blank">Amazon MWS</a></h4>
                <%= render "shared/step1" %>
                <%= link_to "Details", "#step1", "data-toggle" => "modal", :class => "btn btn-primary btn-md" %>
              </div>
              
              <div class="form-group">
                <h4>Step 2. Allow us access to your Amazon account</h4>
                <%= render "shared/step2" %>
                <%= link_to "Details", "#step2", "data-toggle" => "modal", :class => "btn btn-primary btn-md" %>
              </div>
              
              <div class="form-group">
                <h4>Step 3. Promise your first born to Amazon by accepting their terms</h4>
                <%= render "shared/step3" %>
                <%= link_to "Details", "#step3", "data-toggle" => "modal", :class => "btn btn-primary btn-md" %>
              </div>
              
              <div class="form-group">
                <h4>Step 4. Capture all your important id's and register for ByteStand</h4>
                <%= render "shared/step4" %>
                <%= link_to "Details", "#step4", "data-toggle" => "modal", :class => "btn btn-primary btn-md" %>
              </div>
              
            </form>
          </div>
      </div>
      
    </div> <!-- this is the overall row-->
      
    <div class="col-md-3 col-md-offset-3">
      <img alt="ByteStand" src="http://s2.postimg.org/74hul1t7t/navbar_brand.png"><!-- prob not right -->
    </div>
    
</div> <!-- this is the overall container -->

