<%= render 'shared/errors', obj: @merchant %>

<%= form_for @merchant do |f| %>

<div class="container-fluid"> <!-- this should go around the entire deal, including the second col -->
  <div class="row"> <!-- pretty sure this has to go around everything too -->
    
    <% if @merchant.new_record? %>
      <div class="col-md-6 well col-md-offset-1"> <!-- This well is just for the first column -->
        <h2 class="letter-space"><%= "#{@title}" %></h2>
    <% else %>
      <div class="col-md-6 well col-md-offset-3"> <!-- This well is just for the first column -->
        <h2 class="letter-space"><%= "#{@title}" %></h2>
    <% end %>
        
        <div class="col-md-12">  <!-- This is inside the first well, and says take up all the 8 rows we have-->
          <form class="form-horizontal"> <!-- needs to wrap around all the form-groups -->
            
            <div class="form-group"> <!-- name field -->
              <div class="input-group input-group-lg">
                  <div class="input-group-addon border">    
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  </div>
                  <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Your Name" %>
              </div>
            </div> <!-- This should be good -->
 
            <div class="form-group"> 
              <div class="input-group input-group-lg">
                  <div class="input-group-addon border">    
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                  </div>
                      <%= f.text_field :email, :class => "form-control input-lg", :placeholder => "Email" %>
              </div>
            </div> <!-- This should be good -->
              
            <div class="form-group"> 
              <div class="input-group input-group-lg">
                  <div class="input-group-addon border">    
                  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                  </div>
                      <%= f.password_field :password, :class => "form-control input-lg", :placeholder => "Password" %>
              </div>
            </div> <!-- This should be good -->
              
          <div class="form-group">
            <div class="input-group input-group-lg">
                <div class="input-group-addon border">    
                <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                </div>
                    <%= f.text_field :merchant_identifier, :class => "form-control input-lg", :placeholder => "Seller Id" %>
            </div>
          </div> <!-- This should be good -->
          
          <div class="form-group">
            <div class="input-group input-group-lg">
                <div class="input-group-addon border">    
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                </div>
                    <%= f.text_field :marketplace, :class => "form-control input-lg", :placeholder => "Marketplace Id" %>
            </div>
          </div> <!-- This should be good -->

          <div class="form-group">
            <div class="input-group input-group-lg">
                <div class="input-group-addon border">    
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </div>
                    <%= f.text_field :token, :class => "form-control input-lg", :placeholder => "MWS Auth. Token" %>
            </div>
          </div> <!-- This should be good -->
          


          <% if @merchant.new_record? %>
            <%= f.submit "Sign Up", :class=> "btn btn-primary btn-lg btn-block" %>
            <div class="spacer pull-right">
              <p>Already have a ByteStand account? <a href="/sign_in"> Login</a></p> 
            </div>
          <% else %>
            <%= f.submit "Save Profile", :class=> "btn btn-primary btn-lg btn-block" %>
          <% end %>
        
        <% end %> <!-- this is the end of the do at the very top of the page -->
        
            </form> <!-- this is the end of the horizontal form tag, around all the forms in this well -->
        </div> <!-- this is for the 12 columns INSIDE the well -->
      </div> <!-- this is the well itself -->


<!-- this is the start of the second column with all the help stuff -->
      <% if @merchant.new_record? %>
        <%=render 'help' %>
      <% end %>
      
    </div> <!-- this is the overall row for the ENTIRE page-->
    <% if @merchant.new_record? %>  
      <div class="col-md-3 col-md-offset-3">
        <img alt="ByteStand" src="http://s2.postimg.org/74hul1t7t/navbar_brand.png"><!-- prob not right -->
      </div>
    <% else %>
      <div class="col-md-3 col-md-offset-5">
        <img alt="ByteStand" src="http://s2.postimg.org/74hul1t7t/navbar_brand.png"><!-- prob not right -->
      </div>
    <% end %>
    
</div> <!-- this is the overall container for the WHOLE page -->
<%= debug(params) if Rails.env.development? %>
