<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Your Products",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>

<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8,af-2.0.0,b-1.0.0,b-colvis-1.0.0,fh-3.0.0,r-1.0.7,sc-1.3.0,se-1.0.0/datatables.js"></script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="ByteStand" src="http://s2.postimg.org/74hul1t7t/navbar_brand.png">
      </a>
    </div>
  
    <ul class="nav navbar-nav">
        <li class="passive"><a href="#">products <span class="sr-only">(current)</span></a></li>
        <li class="passive"><a href="#">prices <span class="sr-only">(current)</span></a></li>
        <li class="passive"><a href="/register">register <span class="sr-only">(current)</span></a></li>
        <li class="passive"><a href="/merchants/4/edit">edit <span class="sr-only">(current)</span></a></li>
        <li class="passive"><a href="/sign_in">login <span class="sr-only">(current)</span></a></li>
    </ul>
  
  </div>
</nav>
<script type="text/javascript">
  $(document).ready(function() { 
    $('#button_to_shopify').click(function() {
      $('#submit_to_shopify').submit();
    });
  });
</script>

<div class="container-fluid">

<div class="container-fluid">
  
  <div class="row pad_bottom col-md-4 col-md-offset-1 text-center">
    <button id="button_to_shopify" class="btn btn-primary btn-lg btn-block">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Push Selected Products to Shopify
    </button>
  </div>
  
  <div class="row pad_bottom col-md-4 col-md-offset-1 text-center">
    <%= link_to merchant_pull_from_amazon_path(params[:id]), remote: true, class: "btn btn-blank btn-lg btn-block" do %>
      Pull Products from Amazon FBA <i class="glyphicon glyphicon-download" aria-hidden="true"></i>
    <% end %>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    var table = $('#products').DataTable({
      "lengthMenu": [[20, 50, 100, 500, -1], [20, 50, 100, 500, "All"]],
      "columnDefs": [ { orderable: false, targets: [0 , 1] }]
    });
  });
</script>

<%= form_tag push_to_shopify_products_path, :id => 'submit_to_shopify' do  %>
  <table id="products" class="table table-striped table-hover table-bordered table-condensed">
    <thead>
      <tr>
        <th> </th>
        <th><input type="checkbox" name="select-all" id="select-all" /></th>
        <th><a>TITLE</a></th>
        <th><a>ASIN</a></th>
        <th><a>PRICE</a></th>
        <th><a>SKU</a></th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
<tbody class="product-index">

  <% @merchant.products.each do |product| %>
    <tr>
      <% if product.is_variant == true %>
        <td><%= link_to "", product_path(product), remote: true, class: "glyphicon glyphicon-plus no_underline" %></td>
      <% else %>
        <td></td>
      <% end %>  
      <td><%= check_box_tag('sellersku[]', product.sellersku) %></td>
      <td><%= product.title %></td>
      <td><%= product.asin %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= product.sellersku %></td>
      <td><%= link_to "Edit", edit_product_path(product), remote: true, class: "btn btn-primary btn-sm" %></td>
      <td><%= link_to "Delete", product_delete_path(product), remote: true, class: "btn orange btn-sm" %></td>
    </tr>
    
  <% end %>
    </tbody>
  </table>
<% end %>
</div>

<div id="product-modal" class="modal fade"></div>

<%= debug(params) if Rails.env.development? %>
